body{
    font-family: sans-serif;
}
th, td {
    padding: 10px;
    border: 1px solid #000;
  }

p {
    font-size: 150%;
 }

 h1 {
    font-size: 300%;
 }
 h2 {
    font-size: 250%;
 }